@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles and resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

@layer components {
  .sliceBtn {
    @apply bg-black text-white rounded-full transition-all duration-500 hover:contrast-50 mx-1
  }
  .CardInfoHero {
    @apply absolute top-0 h-full grid items-center px-5 ml-0 md:ml-16 max-w-[30rem]
  }
  .tabsBtn {
    @apply border border-black px-4 py-2 capitalize font-medium
  }
  .containers {
    @apply container mx-auto px-7
  }
  .cardCategory {
    @apply p-7 bg-slate-100 text-center grid gap-5 rounded shadow hover:shadow-xl duration-500
  }
}

@layer utilities {
  .hoverBtnBlack {
    @apply hover:bg-black hover:text-white transition duration-700
  }
  .hoverBtnWhite {
    @apply hover:bg-white hover:text-black transition duration-700 
  }
}
